@model DMS.Models.brandviewmodel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1 style="text-align:center">Edit Company</h1> 
<head>
    <link rel="stylesheet" href="~/css/css/StyleSheet1.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<hr />
@using (Html.BeginForm("Edit", "Company", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row small-gap">

        <div class="row">
            <div class="col-lg-12">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card" style="margin-left: 20px; margin-right: 20px;">
                    <div class="card-body">
                        <div class="row">
                            <a asp-action="Index" class="btn btn-secondary btn-sm" style="display:flex;float:right"><i class="fa fa-arrow-left"></i> Back</a>

                        </div>

                        <div class="container">
                            @Html.HiddenFor(model => model.BrandId)  <!-- Assuming there is an 'Id' property in the 'BrandViewModel' -->

                            <div class="box">
                                <label asp-for="BrandName" class="control-label">Company Name </label>
                                <input asp-for="BrandName" class="form-control custom-width custom-textbox" />
                                <span asp-validation-for="BrandName" class="text-danger"></span>
                            </div>
                            <div class="box">
                                <label asp-for="BrandType" class="control-label">Category</label>
                                @Html.DropDownList("BrandType", ViewData["BrandType"] as SelectList, "--select--", new { @class = "" })
                                <span asp-validation-for="BrandType" class="text-danger"></span>
                            </div>

                            <div class="box">
                                <label asp-for="Country" class="control-label">Country</label>
                                @Html.DropDownList("Country", ViewData["Country"] as SelectList, "--select--", new { @class = "", @id = "country_id" })
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                            <div class="box">
                                <label asp-for="State" class="control-label">State/ Region </label>
                                @Html.DropDownList("State", ViewData["State"] as SelectList, "--select--", new { @class = "", @id = "state_id" })
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>

                            <div class="box">
                                <label asp-for="City" class="control-label">City</label>
                                @Html.DropDownList("City", ViewData["City"] as SelectList, "--select--", new { @class = "", @id = "city_id" })
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="box">
                                <label asp-for="Zipcode" class="control-label">Zipcode</label>
                                <input asp-for="Zipcode" class="form-control custom-width custom-textbox" />
                                <span asp-validation-for="Zipcode" class="text-danger"></span>
                            </div>


                            <div class="box">
                                <label asp-for="Province" class="control-label">Province </label>
                                <input asp-for="Province" class="form-control custom-width custom-textbox" />
                                <span asp-validation-for="Province" class="text-danger"></span>
                            </div>
                         
                            <div class="boxMulti">
                                <label asp-for="Address1" id="address" class="control-label">Address 1</label>
                               
                                <textarea asp-for="Address1" class="form-control custom-textbox" rows="60" cols="100"></textarea>
                              
                                <span asp-validation-for="Address1" class="text-danger"></span>
                            </div>

                            <div class="boxMulti">
                                <label asp-for="Address2" id="address" class="control-label">Address 2</label>
                                <textarea asp-for="Address2" class="form-control custom-textbox" rows="60" cols="100"></textarea>
                             
                                <span asp-validation-for="Address2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="input-group">

                                <div class="input-group-append">
                                    <br />
                                   


                                    <div class="col-md-4 d-flex justify-content-between py-3 px-1 align-items-center">
                                        <h2 align="left" style="margin-left:20px">Marketing Documents</h2>
                                        <center> <button type="button" class="btn btn-primary" id="add-file-btn">Add File</button></center>
                                    </div>

                                    <div id="file-upload-container">
                                        <div class="form-group" id="file-upload-fields" style="display:none;">
                                            <div class="container">
                                                <div class="box">
                                                    <label for="FileName">File Name</label>
                                                    <input type="text" class="" id="FileName" name="FileName">
                                                </div>
                                                <div class="box">
                                                    <label for="FileType">File Type</label>
                                                    <select class=" " id="FileType" name="FileType">
                                                        <option value="pdf">PDF</option>
                                                        <option value="doc">Microsoft Word</option>
                                                        <option value="docx">Microsoft Word (docx)</option>
                                                        <option value="txt">Text File</option>
                                                        <option value="jpg">JPEG Image</option>
                                                        <option value="png">PNG Image</option>
                                                    </select>
                                                </div>
                                                <div class="box">
                                                    <label for="File">Files</label>
                                                 
                                                    <input type="file" id="files" name="Files" multiple>


                                                </div>
                                                <div class="col-1" style="margin-top:23px;">
                                                    <button type="button" class="btn btn-danger delete-file-btn">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="reset" class="btn" name="cancel" style="display:flex;float:right">Cancel</button>
                        <input type="submit" value="Update" class="btn btn-primary" style="display:flex;float:right" />
                    </div>

                </div>
            </div>



        </div>

    </div>
    <table id="file-table" class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>File Type</th>
               
            </tr>
        </thead>
        <tbody>
            @if (Model.Files != null && Model.Files.Count > 0)
            {
                foreach (var file in Model.Files)
                {
                    <tr>
                        <td>@file.FileName</td>
                        <td>@file.FileType</td>
                       
                    </tr>
                }
            }
        </tbody>
    </table>

}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    //$(document).ready(function () {
    //    $('#add-file-btn').click(function () {
    //        $('#file-upload-fields').show();
    //    });
    $(document).ready(function () {
        var fileFieldTemplate = $('#file-upload-fields').clone(); // Clone the file upload fields template

        $('#add-file-btn').click(function () {
            var newFileField = fileFieldTemplate.clone(); // Clone a new file upload field
            newFileField.appendTo('#file-upload-container'); // Append the new file upload field to the container
            newFileField.show(); // Show the new file upload field
        });

        $(document).on('click', '.delete-file-btn', function () {
            $(this).closest('.form-group').remove();
        });

        //$('#file-upload-fields input[type="file"]').change(function () {
        //    var fileInputs = $(this);
        //    var files = fileInputs[0].files;

        //    for (var i = 0; i < files.length; i++) {
        //        var file = files[i];
        //        var fileName = file.name;


        //        var fileType = file.type;
        //        var formData = new FormData();
        //        formData.append('file', file);

        //        $.ajax({
        //            url: '/Company/UploadFile',
        //            type: 'POST',
        //            data: formData,
        //            processData: false,
        //            contentType: false,
        //            success: function (data) {
        //                // Handle the success response for each file
        //                // Update the corresponding input fields for each file
        //            },
        //            error: function (xhr, textStatus, errorThrown) {
        //                console.log(xhr.responseText);
        //            }
        //        });
        //    }
        //});
        $('#file-upload-fields input[type="file"]').change(function () {
            var fileInputs = $(this);
            var files = fileInputs[0].files;

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var fileName = fileInputs.siblings('#FileName').val(); // Get the entered file name

                var fileType = file.type;
                var formData = new FormData();
                formData.append('file', file);
                formData.append('fileName', fileName); // Include the file name in the form data

                $.ajax({
                    url: '/Company/UploadFile',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        // Handle the success response for each file
                        // Update the corresponding input fields for each file
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseText);
                    }
                });
            }
        });


        $("#country_id").change(function () {
            var countryId = $(this).val();
            $.ajax({
                type: "GET",
                url: "/Company/GetStatesByCountryId",
                data: { countryId: countryId },
                success: function (result) {
                    $("#state_id").empty();
                    $("#city_id").empty();
                    $.each(result, function (i, state) {
                        $("#state_id").append('<option value="' + state.value + '">' + state.text + '</option>');
                    });
                    $("#state_id").prepend('<option value="" selected>--Select--</option>');
                }
            });
        });



        $("#state_id").change(function () {
            var stateId = $(this).val();
            $.ajax({
                type: "GET",
                url: "/Company/GetcitiesBystateId",
                data: { stateId: stateId },
                success: function (result) {

                    $("#city_id").empty();
                    $.each(result, function (i, city) {
                        $("#city_id").append('<option value="' + city.value + '">' + city.text + '</option>');
                    });
                    $("#city_id").prepend('<option value="" selected>--Select--</option>');
                }
            });
        });
    });
</script>